<section class="hero-home">
    <div class="hero-content">
      <div class="text-container">
        <h5 class="subtitle">BIENVENIDO A COMPUTER & ELECTRONIC</h5>
        <h1 class="title">Soluciones tecnológicas para tu empresa</h1>
        <p class="description">
          Somos especialistas en mantenimiento preventivo y soporte técnico para equipos de oficina:
          computadores, impresoras, All-in-One y más. Con años de experiencia en el sector, ofrecemos soluciones confiables y personalizadas.
        </p>
        <div class="buttons">
          <button class="hero-button primary">Conócenos</button>
          <button class="hero-button secondary">Contáctanos</button>
        </div>
        
      </div>
      <div class="image-container">
        <img src="/logoLogin.png" alt="Equipo técnico" />
      </div>
    </div>
  </section>
  